@model EmployeesApp.Models.Employee

@{
    ViewBag.Title = "Show";
}

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skills)
        </dt>

        <dd>
                @foreach (var skill in Model.skills)
                {
                    <span class="label label-primary">@skill</span>
                }

        </dd>

    </dl>
</div>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
